<!DOCTYPE html>
<html>
<head>
    <title>Framework | Change password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"  th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet"  th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p class="lead">

            <form class="form-narrow form-horizontal" method="post" th:action="@{/profileChangePassword}" th:object="${myProfileForm}">
                <!-- /* Show general error message when form contains errors */ -->
                <th:block th:if="${#fields.hasErrors('${myProfileForm.*}')}">
                    <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
                </th:block>
                <fieldset>
                    <div class="form-group" th:classappend="${#fields.hasErrors('oldPassword')}? 'has-error'">
                        <label for="oldPassword" class="col-xs-3 control-label">Old password</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="oldPassword" placeholder="Old password" th:field="*{oldPassword}"/>
                            <span class="help-block" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">Incorrect old password</span>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                        <label for="password" class="col-xs-3 control-label">Password</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}"/>
                            <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</span>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('passwordConfirmation')}? 'has-error'">
                        <label for="passwordConfirmation" class="col-xs-3 control-label">Confirm password</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="passwordConfirmation" placeholder="Confirm password" th:field="*{passwordConfirmation}"/>
                            <span class="help-block" th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}">Incorrect password confirmation</span>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <button id="saveButton" type="submit" class="btn btn-primary btn-lg" onclick="getElementById('saveButton').style.display = 'block'; this.style.display = 'none'">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            </p>
        </div>

    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>


</body>

</html>
